<app-navbar></app-navbar>
<div *ngIf="article == undefined" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <img src="https://aryan1982.github.io/pagepalette-client/assets/icons/spinner2.gif" alt="loading" class="h-10">
</div>
<div [class.invisible]="article == undefined" class="flex flex-col items-center">
    <div class="w-full max-w-[800px] ">
        <div class="p-4 flex items-center mt-16 " style="border:1px solid #cfcece">
            <div class="flex items-center cursor-pointer" routerLink="/profile/{{article.user._id}}">

                <img class="w-10 h-10 rounded-full mr-4" *ngIf="article.user.profileImage == 'default.jpg' || !article.user.profileImage" src="https://aryan1982.github.io/pagepalette-client/assets/icons/avatar.png">
                <img class="w-10 h-10 rounded-full mr-4" *ngIf="article.user.profileImage && article.user.profileImage !== 'default.jpg'" src="{{article.user.profileImage}}">

                <h1 class="text-slate-500">{{article.username}}</h1>
            </div>
            <div class="relative ml-auto z-10">

            <i (click)="toggleDropdown()" class="fas fa-ellipsis-h cursor-pointer"></i>
        
            <!-- Dropdown content -->
            <div *ngIf="isDropdownVisible" class="absolute right-0 mt-2 w-48 bg-white border rounded-md shadow-lg">
                <!-- Dropdown items go here -->
                <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" (click)="editArticle(article._id)">Edit</a>
                <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" (click)="deleteArticle(article._id)">Delete
                </a>
                <!-- Add more items as needed -->
            </div>
        </div>
    </div>


    <div class="mt-2">

        <div id="viewer" class="mt-24 h-fit" ></div>
    </div>


    <div class="p-4 flex items-center mt-2 col-start-2 col-span-3 space-x-11" style="border:1px solid #cfcece">
              <i class="fa-regular fa-thumbs-up"></i>
              <i class="fa-regular fa-share-from-square"></i>
              <i class="fa-regular fa-comment"></i>
    </div>

        </div>
</div>

<!-- <div class="mt-16">

    <div id="viewer" class="mt-24" style="height: 500px;" ></div>
</div> -->